+b.price-list(data-src-url="http://medin.staging.sitesoft.ru/local/ajax/ajax.php?site_id=s1&section_id=93")
  +e.H1.title Тариф* на платные медицинские и иные услуги филиала "Мединцентр" ГлавУпДК при МИД России
  +e.FORM.search
    include ../search/search
  +e.result
  +e.preloader-wrap
    +e.preloader.preloader


  +e.no-items(style="display:none")
    p К сожалению, услуга не найдена.
    p 
      | Обратитесь за подробной информацией по номеру
      | <a href="tel:+7(499) 283-93-63">+7(499) 283-93-63</a>
  +e.ajax-fail(style="display:none")
    p Ошибка сервера. Попробуйте позже.
