@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: normal;
  src: url('RobotoCondensed-Italic.eot');
  src: url('RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
    url('RobotoCondensed-Italic.woff2') format('woff2'),
    url('RobotoCondensed-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  src: url('RobotoCondensed-Regular.eot');
  src: url('RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('RobotoCondensed-Regular.woff2') format('woff2'),
    url('RobotoCondensed-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: bold;
  src: url('RobotoCondensed-Bold.eot');
  src: url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('RobotoCondensed-Bold.woff2') format('woff2'),
    url('RobotoCondensed-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('RobotoCondensed-LightItalic.eot');
  src: url('RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('RobotoCondensed-LightItalic.woff2') format('woff2'),
    url('RobotoCondensed-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('RobotoCondensed-Light.eot');
  src: url('RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('RobotoCondensed-Light.woff2') format('woff2'),
    url('RobotoCondensed-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: bold;
  src: url('RobotoCondensed-BoldItalic.eot');
  src: url('RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('RobotoCondensed-BoldItalic.woff2') format('woff2'),
    url('RobotoCondensed-BoldItalic.woff') format('woff');
}

.font-RobotoCondensed {
  font-family: 'Roboto Condensed';
}
