@font-face {
  font-family: 'Century Gothic';
  font-style: italic;
  font-weight: bold;
  src: url('CenturyGothic-BoldItalic.eot');
  src: url('CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('CenturyGothic-BoldItalic.woff2') format('woff2'),
    url('CenturyGothic-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic';
  font-style: italic;
  font-weight: normal;
  src: url('CenturyGothic-Italic.eot');
  src: url('CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
    url('CenturyGothic-Italic.woff2') format('woff2'),
    url('CenturyGothic-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: bold;
  src: url('CenturyGothic-Bold.eot');
  src: url('CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('CenturyGothic-Bold.woff2') format('woff2'), url('CenturyGothic-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: normal;
  src: url('CenturyGothic.eot');
  src: url('CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('CenturyGothic.woff2') format('woff2'), url('CenturyGothic.woff') format('woff');
}
