@font-face {
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: normal;
  src: url('EuclidFlex.woff2') format('woff2'), url('EuclidFlex.woff') format('woff');
}

@font-face {
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: 500;
  src: url('EuclidFlexMedium.woff2') format('woff2'), url('EuclidFlexMedium.woff') format('woff');
}

@font-face {
  font-family: 'Euclid Flex';
  font-style: normal;
  font-weight: bold;
  src: url('EuclidFlex-Bold.woff2') format('woff2'), url('EuclidFlex-Bold.woff') format('woff');
}
