meta(charset="utf-8")
meta(name="Developer" content="")
meta(name="description" content="")
meta(name="keywords" content="")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(content="ie=edge" http-equiv="x-ua-compatible")


link(type="image/x-icon" href="img/favicon.ico" rel="icon")
link(type="image/x-icon" href="img/favicon.ico" rel="shortcut icon")
