@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-style: normal;

  src: url("OpenSansCondensed-Light.eot");
  src: url("OpenSansCondensed-Light.eot?#iefix") format("embedded-opentype"), url("OpenSansCondensed-Light.woff2") format("woff2"), url("OpenSansCondensed-Light.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-style: normal;

  src: url("OpenSansCondensed-Bold.eot");
  src: url("OpenSansCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("OpenSansCondensed-Bold.woff2") format("woff2"), url("OpenSansCondensed-Bold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-style: italic;

  src: url("OpenSansCondensed-LightItalic.eot");
  src: url("OpenSansCondensed-LightItalic.eot?#iefix") format("embedded-opentype"), url("OpenSansCondensed-LightItalic.woff2") format("woff2"), url("OpenSansCondensed-LightItalic.woff") format("woff");
}

.font-OpenSansCondensed {
  font-family: "Open Sans Condensed";
}
