@font-face {
 font-family: 'PTSans-Bold';
 src: url('../fonts/pt-sans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/pt-sans/PTSans-Bold.woff') format('woff'), url('../fonts/pt-sans/PTSans-Bold.ttf')  format('truetype'), url('../fonts/pt-sans/PTSans-Bold.svg#PTSans-Bold') format('svg');
 font-weight: normal;
 font-style: normal;
}


@font-face {
 font-family: 'PTSans-BoldItalic';
 src: url('../fonts/pt-sans/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/pt-sans/PTSans-BoldItalic.woff') format('woff'), url('../fonts/pt-sans/PTSans-BoldItalic.ttf')  format('truetype'), url('../fonts/pt-sans/PTSans-BoldItalic.svg#PTSans-BoldItalic') format('svg');
 font-weight: normal;
 font-style: normal;
}


@font-face {
  font-family: 'PTSans-Caption';
  src: url('../fonts/pt-sans/PTSans-Caption.eot?#iefix') format('embedded-opentype'),  url('../fonts/pt-sans/PTSans-Caption.woff') format('woff'), url('../fonts/pt-sans/PTSans-Caption.ttf')  format('truetype'), url('../fonts/pt-sans/PTSans-Caption.svg#PTSans-Caption') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-CaptionBold';
  src: url('../fonts/pt-sans/PTSans-CaptionBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/pt-sans/PTSans-CaptionBold.woff') format('woff'), url('../fonts/pt-sans/PTSans-CaptionBold.ttf')  format('truetype'), url('../fonts/pt-sans/PTSans-CaptionBold.svg#PTSans-CaptionBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
 font-family: 'PTSans-Italic';
 src: url('../fonts/pt-sans/PTSans-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/pt-sans/PTSans-Italic.woff') format('woff'), url('../fonts/pt-sans/PTSans-Italic.ttf')  format('truetype'), url('../fonts/pt-sans/PTSans-Italic.svg#PTSans-Italic') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
  font-family: 'PTSans-Narrow';
  src: url('../fonts/pt-sans/PTSans-Narrow.eot?#iefix') format('embedded-opentype'),  url('../fonts/pt-sans/PTSans-Narrow.woff') format('woff'), url('../fonts/pt-sans/PTSans-Narrow.ttf')  format('truetype'), url('../fonts/pt-sans/PTSans-Narrow.svg#PTSans-Narrow') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-NarrowBold';
  src: url('../fonts/pt-sans/PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/pt-sans/PTSans-NarrowBold.woff') format('woff'), url('../fonts/pt-sans/PTSans-NarrowBold.ttf')  format('truetype'), url('../fonts/pt-sans/PTSans-NarrowBold.svg#PTSans-NarrowBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
 font-family: 'PTSans-Regular';
 src: url('../fonts/pt-sans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/pt-sans/PTSans-Regular.woff') format('woff'), url('../fonts/pt-sans/PTSans-Regular.ttf')  format('truetype'), url('../fonts/pt-sans/PTSans-Regular.svg#PTSans-Regular') format('svg');
 font-weight: normal;
 font-style: normal;
}