<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
script(src="http://medin.staging.sitesoft.ru/bitrix/cache/js/s1/medin/kernel_main/kernel_main_v1.js") 
script(src="http://medin.staging.sitesoft.ru/bitrix/cache/js/s1/medin/kernel_main_polyfill_promise/kernel_main_polyfill_promise_v1.js") 
script(src="http://medin.staging.sitesoft.ru/bitrix/js/main/loadext/loadext.min.js") 
script(src="http://medin.staging.sitesoft.ru/bitrix/js/main/loadext/extension.min.js") 
script(src="http://medin.staging.sitesoft.ru/bitrix/cache/js/s1/medin/template_a981bdf07de6801316abbed4a6c65061/template_a981bdf07de6801316abbed4a6c65061_v1.js") 
script(src="http://medin.staging.sitesoft.ru/bitrix/templates/medin/js/handler.js") 
script(src="http://medin.staging.sitesoft.ru/bitrix/templates/medin/js/pushy.min.js")
script(src="http://medin.staging.sitesoft.ru/bitrix/templates/medin/js/jquery-ui.min.js")  
script(src="http://medin.staging.sitesoft.ru/bitrix/templates/medin/js/jquery.ui.datepicker-ru.js")
script(src="http://medin.staging.sitesoft.ru/bitrix/templates/medin/js/bootstrap.offcanvas.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")   
script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js") 
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js") 
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.js") 
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/phone-codes/phone-ru.js")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js")  
script(src="http://bitrix.info/ba.js") 
script(src="http://medin.staging.sitesoft.ru/bitrix/templates/medin/button-visually-impaired/js/bvi-init-panel.js") 
script(src="http://medin.staging.sitesoft.ru/bitrix/templates/medin/button-visually-impaired/js/bvi.min.js")
script(src="http://medin.staging.sitesoft.ru/bitrix/templates/medin/button-visually-impaired/js/js.cookie.js")
script(src="https://translate.googleapis.com/translate_static/js/element/main_ru.js")   
