if gosbar
  // ГОСБАР - начало
  script.
    _govWidget = {
      cssOrigin: "//search-portal1.test.gosuslugi.ru", 
      catalogOrigin: "//search-portal1.test.gosuslugi.ru",
      cssTheme: "gray",
      maxWidth: 1120,
      disableSearch: true
    }

  script(type="text/javascript" language="JavaScript" charset="utf-8" src="//search-portal1.test.gosuslugi.ru/widget/widget.js" async="async")
  // ГОСБАР - конец
