meta(name="author" content="www.sitesoft.ru")
meta(name="description" content="")
meta(name="keywords" content="")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(http-equiv="X-UA-TextLayoutMetrics" content="gdi")
meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
meta(name="format-detection" content="telephone=no")
meta(name="format-detection" content="address=no")
meta(name="theme-color" content="#fff")

//- meta(name="api-token" content='12345')


