<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js"></script>


//- <!--[if IE 7]>
//- <script type="text/javascript" src="static/libs/ie-old/IE7.min.js"></script>
//- <![endif]-->
//- <!--[if IE 8]>
//- <script type="text/javascript" src="static/libs/ie-old/IE8.min.js"></script>
//- <![endif]-->
//- <!--[if IE 9]>
//- <script type="text/javascript" src="static/libs/ie-old/IE9.min.js"></script>
//- <![endif]-->
//- <!--[if lt IE 9]>
//- <script type="text/javascript" src="static/libs/ie-old/jquery-1.12.4.min.js"></script>
//- <![endif]-->
//- <!--[if lt IE 10]>
//- <script type="text/javascript" src="static/libs/ie-old/html5shiv-printshiv.min.js"></script>
//- <![endif]-->
//- <!--[if gte IE 9]>-->
//- <script type="text/javascript" src="static/libs/jquery/dist/jquery-3.4.0.min.js"></script>
//- <!--<![endif]-->
