//- <script type="text/javascript" src="static/libs/jquery/dist/jquery-3.4.0.min.js"></script>
//- <script type="text/javascript" src="static/libs/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
