.UIheader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  width: 100%;

  &__trigger {
    display: none;
    width: 30px;

    &.active {
      transform: rotate(180deg);
    }

    @media (max-width: 1023px) {
      display: block;
    }
  }

  &__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 10px 0 10px;
    background-color: $grey;
  }

  &__top-left {
    margin-right: rem(70);

    @media (max-width: 1023px) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__top-right {
    display: flex;
    z-index: 9999;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;

    @media (max-width: 1023px) {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      min-height: 100vh;
      padding-top: 20px;
      padding-bottom: 30px;
    }

    @media (max-width: 479px) {
      width: 100%;
      height: 100vh;
    }
  }

  &__burger {
    display: none;

    @media (max-width: 1023px) {
      display: block;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: rem(8) 0;
  }
}
