+b.HEADER.UIheader
  +e.top
    +e.top-left
      +b.UIlogo
        +e.link(href='/')
          +e.IMG(src='static/img/logo.png').pic

    +e.top-right
      +b.UInav
        +e.item
          +e.item-link(href="/design.html") WEB-принципы
        +e.item.active
          +e.item-link(href="/index.html") Сайты
    +e.burger
      +b.UIburger-menu(href="#")
        +e.icon
  +e.bottom(style= "background-color: #1258A6")
    +b.UItitle-line
      +e.subtitle # 458
      +e.main
        h2 ФССП 2019
