+b.search
  +e.INPUT.input(placeholder="Поиск")
  +e.btn(tabindex="0") Найти
  +e.icon-search 
    +icon('magnifier', 24, 24).svg-icon
  +e.btn-delete(tabindex="0") 
    +icon('cross', 12, 12).svg-icon
