+b.search
  +e.INPUT.input(placeholder="Поиск" name="query_services")
  +e.BUTTON.btn(type="submit") Найти
  +e.icon-search 
    +icon('magnifier', 24, 24).svg-icon
  +e.btn-delete(tabindex="0") 
    +icon('cross', 12, 12).svg-icon
