extends layout/layout

block variables
  - var title = 'Главная страница';

block content
  +b.MAIN.main
    .container
      .row
        .col-12.pt-8.pb-8
          .col-12
            h1= title
          .col-12
            +img('upload/logo-color.png')(alt='image').some-class
            +img('img/1/logo-color.png')(alt='image').some-class
            //- img(src=require('@/img/logo-color.png'), alt="")
