mixin img(path)
  - const arrPath = path.split('/');
  - const pathFolder = arrPath[0];
  - const pathFile = arrPath.slice(1).join('/');
  - const url = require(`@/${pathFolder}/${pathFile}`);
  img(src=url)&attributes(attributes)
