mixin img(path)
  - const arrPath = path.split('/');
  - const pathFolder = arrPath[0];
  - const pathFile = arrPath.slice(1).join('/');
  - const url = pathFolder == 'img'? require(`@/img/${pathFile}`) : `upload/${pathFile}`;
  img(src=url)&attributes(attributes)
