@import "var";
.UIpage {
  display: flex;
  height: 100%;
  padding-top: 125px;
  &__sidebar {
    position: fixed;
    top: 125px;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    transform: translate(0);
    transition: 0.3s;
    @media (max-width: 1023px) {
      transform: translate(-100vw);
    }
    &.hide {
      transform: translate(-100vw);
      @media (max-width: 1023px) {
        transform: translate(0);
      }
    }
  }
  &__content {
    width: 100%;
    padding-left: 330px;
    background-color: #fff;
    & > .container {
      margin-left: 24px;
    }
    @media (max-width: 1023px) {
      padding-left: 0;
      .container {
        margin-left: auto;
      }
    }
    &.show {
      padding-left: 0;
      .container {
        margin-left: auto;
      }
    }
  }
  &__wrapper {
    width: 800px;
    padding-top: rem(10);
    padding-right: rem(20);
    padding-bottom: rem(65);
    padding-left: rem(85);
  }
}
