@import 'var';

.UItitle-line {
  display: flex;
  align-items: center;
  color: #9ba3ac;
  font-size: 21px;

  &__main {
    margin-left: 10px;

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      color: #fff;
    }
  }

  &__subtitle {
    color: #9ba3ac;
    font-size: 21px;
  }
}
