footer
  .container
    .row
      .col-xl-3.col-md-3.col-lg-3.col-sm-3.wrapper
        ul.link_foot
          li
            a.link(target='_blank' href='o-medintsentre') О Мединцентре
          li
            a.link(href='o-medintsentre/news') Новости
          li
            a.link(target='_blank' href='statsionar') Стационар
          li
            a.link(href='kliniko-diagnosticheskiy-tsentr') КДЦ
      .col-xl-3.col-md-3.col-lg-3.col-sm-3.wrapper
        ul.link_foot
          li
            a.link(target='_blank' href='vrachi') Врачи
          li
            a.link(target='_blank' href='kliniko-diagnosticheskiy-tsentr/otdelenie-skoroy-meditsinskoy-i-neotlozhnoy-pomoshchi') Скорая помощь
          li
            a.link(href='programmy') Программы
          li
            a.link(href='/articles/') Статьи
      .col-xl-3.col-md-3.col-lg-3.col-sm-3.wrapper
        ul.link_foot
          li
            a.link(href='sitemap') Карта сайта
          li
            a.link(href='search') Поиск по сайту
          li
            a.link(target='_blank' href='kontakty') Контакты
          li
            a.link(href='/voprosi-i-otvety/get_consultation.php') Получить консультацию
      .col-xl-3.col-md-3.col-lg-3.col-sm-3.wrapper
        ul.link_foot
          li
            span.ct_company_number
              a.link(target='_blank' href='/#') +7 495 933 86 48
          li
            a.link(href='') +7 495 933 86 49
          li
            a.link(target='_blank' href='http://212.33.17.130/Tablo/Tablo?tabloOid=3e7d3906-e920-4dbb-bae4-1ff702c72dc5') График приема
          li.footer__icons
            a.footer__icon(href=' https://www.facebook.com/medincentr/' style='margin-top: 2%' target='_blank')
              img(src='http://medin.staging.sitesoft.ru/bitrix/templates/medin/img/facebook.png' height='19' alt='')
            a.footer__icon(href='https://www.instagram.com/medincentr/' style='margin-top: 2%' target='_blank')
              img(src='http://medin.staging.sitesoft.ru/bitrix/templates/medin/img/instagram.png' alt='')
            br
