@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: bold;
  src: url('HelveticaNeueCyr-Bold.eot');
  src: url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('HelveticaNeueCyr-Bold.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 100;
  src: url('HelveticaNeueCyr-Thin.eot');
  src: url('HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Thin.woff2') format('woff2'),
    url('HelveticaNeueCyr-Thin.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: italic;
  font-weight: 100;
  src: url('HelveticaNeueCyr-ThinItalic.eot');
  src: url('HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-ThinItalic.woff2') format('woff2'),
    url('HelveticaNeueCyr-ThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: italic;
  font-weight: 500;
  src: url('HelveticaNeueCyr-Italic.eot');
  src: url('HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Italic.woff2') format('woff2'),
    url('HelveticaNeueCyr-Italic.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 500;
  src: url('HelveticaNeueCyr-Medium.eot');
  src: url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('HelveticaNeueCyr-Medium.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: italic;
  font-weight: 300;
  src: url('HelveticaNeueCyr-LightItalic.eot');
  src: url('HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
    url('HelveticaNeueCyr-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 300;
  src: url('HelveticaNeueCyr-Light.eot');
  src: url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('HelveticaNeueCyr-Light.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 200;
  src: url('HelveticaNeueCyr-UltraLight.eot');
  src: url('HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
    url('HelveticaNeueCyr-UltraLight.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: italic;
  font-weight: 900;
  src: url('HelveticaNeueCyr-BlackItalic.eot');
  src: url('HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-BlackItalic.woff2') format('woff2'),
    url('HelveticaNeueCyr-BlackItalic.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: italic;
  font-weight: bold;
  src: url('HelveticaNeueCyr-BoldItalic.eot');
  src: url('HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-BoldItalic.woff2') format('woff2'),
    url('HelveticaNeueCyr-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 900;
  src: url('HelveticaNeueCyr-Black.eot');
  src: url('HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Black.woff2') format('woff2'),
    url('HelveticaNeueCyr-Black.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: normal;
  src: url('HelveticaNeueCyr-Roman.eot');
  src: url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('HelveticaNeueCyr-Roman.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: italic;
  font-weight: 200;
  src: url('HelveticaNeueCyr-UltraLightItalic.eot');
  src: url('HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-UltraLightItalic.woff2') format('woff2'),
    url('HelveticaNeueCyr-UltraLightItalic.woff') format('woff');
}

.font-HelveticaNeueCyr {
  font-family: 'HelveticaNeueCyr';
}
