@font-face {
  font-family: 'PF Din Text Comp Pro';
  font-style: italic;
  font-weight: 300;

  src: url('PFDinTextCompPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('PFDinTextCompPro-LightItalic.woff2') format('woff2'),
    url('PFDinTextCompPro-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Comp Pro X';
  font-style: italic;
  font-weight: 100;

  src: url('PFDinTextCompPro-XThinItalic.eot?#iefix') format('embedded-opentype'),
    url('PFDinTextCompPro-XThinItalic.woff2') format('woff2'),
    url('PFDinTextCompPro-XThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  font-style: italic;
  font-weight: 500;

  src: url('PFDinTextCompPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('PFDinTextCompPro-MediumItalic.woff2') format('woff2'),
    url('PFDinTextCompPro-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  font-style: italic;
  font-weight: bold;

  src: url('PFDinTextCompPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('PFDinTextCompPro-BoldItalic.woff2') format('woff2'),
    url('PFDinTextCompPro-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  font-style: italic;
  font-weight: normal;

  src: url('PFDinTextCompPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('PFDinTextCompPro-Italic.woff2') format('woff2'),
    url('PFDinTextCompPro-Italic.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Comp Pro XBlack';
  font-style: italic;
  font-weight: 900;

  src: url('PFDinTextCompPro-XBlackItalic.eot?#iefix') format('embedded-opentype'),
    url('PFDinTextCompPro-XBlackItalic.woff2') format('woff2'),
    url('PFDinTextCompPro-XBlackItalic.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  font-style: normal;
  font-weight: bold;

  src: url('PFDinTextCompPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('PFDinTextCompPro-Bold.woff2') format('woff2'),
    url('PFDinTextCompPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  font-style: normal;
  font-weight: 500;

  src: url('PFDinTextCompPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('PFDinTextCompPro-Medium.woff2') format('woff2'),
    url('PFDinTextCompPro-Medium.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Comp Pro XBlack';
  font-style: normal;
  font-weight: 900;

  src: url('PFDinTextCompPro-XBlack.eot?#iefix') format('embedded-opentype'),
    url('PFDinTextCompPro-XBlack.woff2') format('woff2'),
    url('PFDinTextCompPro-XBlack.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  font-style: normal;
  font-weight: 300;

  src: url('PFDinTextCompPro-Light.eot?#iefix') format('embedded-opentype'),
    url('PFDinTextCompPro-Light.woff2') format('woff2'),
    url('PFDinTextCompPro-Light.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  font-style: normal;
  font-weight: normal;

  src: url('PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('PFDinTextCompPro-Regular.woff2') format('woff2'),
    url('PFDinTextCompPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  font-style: italic;

  src: url('PFDinTextCompPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('PFDinTextCompPro-ThinItalic.woff2') format('woff2'),
    url('PFDinTextCompPro-ThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Comp Pro X';
  font-style: normal;
  font-weight: 100;

  src: url('PFDinTextCompPro-XThin.eot?#iefix') format('embedded-opentype'),
    url('PFDinTextCompPro-XThin.woff2') format('woff2'),
    url('PFDinTextCompPro-XThin.woff') format('woff');
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  font-style: normal;
  font-weight: 100;

  src: url('PFDinTextCompPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('PFDinTextCompPro-Thin.woff2') format('woff2'),
    url('PFDinTextCompPro-Thin.woff') format('woff');
}
