include ../../../node_modules/bemto.pug/bemto
- set_bemto_settings({ modifier: '--' })
- const stamp = Math.round(new Date().getTime() / 1000)

include ../includes/data
include ../includes/require
include ../mixins/img
include ../mixins/icon

block variables

html(lang="ru")
  head
    meta(charset="utf-8")
    title #{title}
    include ../includes/meta.pug
    link(href=`css/app.css?stamp=${stamp}` rel='stylesheet')
    script(src=`js/icons.js?stamp=${stamp}`)
  body
    block header
      +b.HEADER.header
        include ../components/header
    block content
    block footer
      +b.FOOTER.footer
        include ../components/footer
    block scripts
      script(src=`js/app.js?stamp=${stamp}`)

