@mixin media-lg {
  @media (max-width: 1279px) {
    @content;
  }
}

@mixin media-md {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin media-sm {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin media-xsm {
  @media (max-width: 374px) {
    @content;
  }
}

@mixin media-lg-md {
  @media (max-width: 1279px) and (min-width: 1024px) {
    @content;
  }
}

@mixin media-md-sm {
  @media (max-width: 1023px) and (min-width: 767px) {
    @content;
  }
}
