@import '~family.scss/source/src/family';

@function rem($px) {
  @return $px / 16px + 0;
}

@function vw($target, $viewport: 1920) {
  $vw-context: ($viewport * 0.01) * 1px;

  @return ($target / $vw-context) * 1vw;
}

@mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

@mixin material-icons {
  /* Preferred icon size */
  display: inline-block;
  font-family: 'Material Icons', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  direction: ltr;

  /* Support for IE. */

  font-feature-settings: 'liga';

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

@mixin placeholder {
  &::placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;

    opacity: 1;
  }

  &:-moz-placeholder {
    @content;

    opacity: 1;
  }
}
