*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

html {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "GOST UI 2", Helvetica, Tahoma, sans-serif;
  line-height: 1.4;

  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

svg {
  fill: currentColor;
}
