@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('Roboto-LightItalic.eot');
  src: url('Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('Roboto-LightItalic.woff2') format('woff2'), url('Roboto-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('Roboto-BlackItalic.eot');
  src: url('Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('Roboto-BlackItalic.woff2') format('woff2'), url('Roboto-BlackItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('Roboto-Regular.eot');
  src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Regular.woff2') format('woff2'), url('Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('Roboto-Light.eot');
  src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Light.woff2') format('woff2'), url('Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('Roboto-Thin.eot');
  src: url('Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Thin.woff2') format('woff2'), url('Roboto-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  src: url('Roboto-Italic.eot');
  src: url('Roboto-Italic.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Italic.woff2') format('woff2'), url('Roboto-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: bold;
  src: url('Roboto-BoldItalic.eot');
  src: url('Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('Roboto-BoldItalic.woff2') format('woff2'), url('Roboto-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url('Roboto-Bold.eot');
  src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Bold.woff2') format('woff2'), url('Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('Roboto-Black.eot');
  src: url('Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Black.woff2') format('woff2'), url('Roboto-Black.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('Roboto-MediumItalic.eot');
  src: url('Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('Roboto-MediumItalic.woff2') format('woff2'), url('Roboto-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('Roboto-Medium.eot');
  src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Medium.woff2') format('woff2'), url('Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('Roboto-ThinItalic.eot');
  src: url('Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('Roboto-ThinItalic.woff2') format('woff2'), url('Roboto-ThinItalic.woff') format('woff');
}

.font-Roboto {
  font-family: 'Roboto';
}
