extends ../../layout/layout

block variables
  - var title = 'Верстка сайта';

block header
block content
  +b.MAIN.main
    section.section
      .container
        .content
          h1.mb-4= title
          ol
            li
              a(href='home.html' target='_blank') Главная страница
            li
              a(href='uslugi-i-tseny.html' target='_blank') Услуги и цены


block footer
