extends ../../../app-ui/pug/layout/block

block variables
  - var html = true;
  - var js = false;
  - var titleBlock = 'header'
  - var descBlock = 'descBlock';
  - var libsBlock = 'libsBlock'
  - var docBlock = 'docBlock';

block html
  .col-12
    |dfffffffff

//- block js
//-   script
//-     include ./scripts.js
