@font-face {
  font-family: 'ALS Rubl';
  font-style: normal;
  font-weight: normal;
  src: url('ALSRubl.eot');
  src: url('ALSRubl.eot?#iefix') format('embedded-opentype'), url('ALSRubl.woff2') format('woff2'),
    url('ALSRubl.woff') format('woff');
}

.font-ALSRubl {
  font-family: 'ALS Rubl';
}
